/* 
 * Yes, this codebase is near unreadable. Why?
 * I designed this mainly as a test to see how viable avoidance of straight out class selectors would be.
 * The codebase was never designed to be pretty, it was designed to require as little maintenance as possible.
 */

/* Root Variables */

 :root {
	--black: 0, 0, 0;
	--white: 255, 255, 255;
}

/* Titlebar */

div[class*="typeWindows-"] {
	--background-modifier-hover: rgba(var(--white), 0.05);
	--background-modifier-active: rgba(var(--white), 0.075);
	height: 28px;
}

div[class*="typeWindows-"]>div:first-child {
	display: none;
}

div[class*="typeWindows-"]>div[role="button"] {
	height: 32px;
	width: 46px;
}

div[class*="typeWindows-"]::after {
	content: 'Discord';
	font-weight: 900;
	line-height: 31px;
	color: #8a8e94;
	font-size: 14px;
	position: absolute;
	padding: 0 12px;
	top: 0;
	left: 1px;
	width: 100%;
	height: 30px;
	z-index: -1;
}
